#about {
  padding-top: 7em;
  padding-bottom: 7em;
}

.about-img {
  width: 100%;
  border-radius: 20px;
}

.heading-secondary {
  font-size: 2rem;
  margin-bottom: 0.6em;
  color: #fff;
}

.text {
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 1.4;
}

.about-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  row-gap: 3rem;
  margin-bottom: 3rem;
}

.about-info-container {
  grid-row: 1;
}

@media (min-width: 800px) {
  #about {
    padding: 1em 8em;
  }
  .about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
  }

  .about-info-container {
    grid-column: 2;
  }

  .heading-secondary {
    font-size: 2.8rem;
    margin-bottom: 2em;
    color: #fff;
  }

  .about-info-container .text {
    font-size: 1.1rem;
  }
}

@media (min-width: 1200px) {
  #about {
    padding: 12em 7em 12em 7em;
  }

  .heading-secondary {
    font-size: 3rem;
    margin-bottom: 2em;
    color: #fff;
  }
}
