#about {
  padding-top: 7em;
  padding-bottom: 7em;
}

.about-img {
  width: 50%;
  border-radius: 20px;
}

.heading-secondary {
  font-size: 1.4rem;
  margin-bottom: 2em;
  font-weight: 400;
}

.text {
  font-weight: 500;
  width: 60ch;
  font-size: 14px;
  line-height: 170%;
  color: #9b9b9b;
  margin-bottom: 1.3em;
}

.about-container {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  padding: 6em 0;
}

.about-info-container {
  grid-row: 1;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.experience-content {
  padding-top: 8em;

  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.experience-display {
  display: flex;
  flex-direction: column;
}

.experience-display .exp-item {
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 3em;
  margin-bottom: 3em;
  border-bottom: 1px solid #f5f5f5;
}

.exp-item .job-title {
  font-size: 20px;
}

.experience-display .exp-item .job-date .employer {
  font-size: 16px;
}

.experience-display .exp-item .job-date .date {
  color: #8c8c8c;
  font-weight: 300;
  font-size: 14px;
}

@media (min-width: 800px) {
  #about {
    padding: 7em 8em;
  }
  .about-container {
    flex-direction: row;
    gap: 2em;
    align-items: start;
  }

  .about-img {
    width: 100%;
    border-radius: 20px;
  }

  .about-img-container {
    width: 100%;
  }

  .heading-secondary {
    font-size: 2rem;
  }

  .text {
    font-weight: 500;
    width: 60ch;
    font-size: 16px;
    line-height: 170%;
    color: #9b9b9b;
    margin-bottom: 1.3em;
  }

  .experience-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .experience-display {
    display: flex;
    flex-direction: column;
  }

  .experience-display .exp-item {
    color: #f5f5f5;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 3em;
    margin-bottom: 3em;
    border-bottom: 1px solid #f5f5f5;
  }

  .exp-item .job-title {
    font-size: 24px;
  }

  .experience-display .exp-item .job-date .employer {
    font-size: 24px;
  }

  .experience-display .exp-item .job-date .date {
    color: #8c8c8c;
    font-weight: 300;
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  /* #about {
    padding: 12em 7em 12em 7em;
  } */

  .heading-secondary {
    font-size: 2.5rem;
  }
}
