#hero {
  padding-top: 7em;
}

.heading-primary {
  font-size: 2rem;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  font-weight: 600;
}

.sub-heading {
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.8;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  padding: 8em 2em;
}

.main-container {
  min-height: 350px;

  /* max-width: 900px; */
  margin: 0 auto;
}

.heading {
  font-size: 1.1rem;
  position: relative;
  color: #fff;
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.intro {
  font-size: 1.1rem;
  font-weight: 100;
  line-height: 1.2;
}

.tech-stack-container {
  margin-top: 1em;
  display: flex;
  align-items: center;
  gap: 2em;
}

.stack {
  font-size: 1.6rem;
}

.tech-stack {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.8em;
}

.stack-icon-1 {
  color: #e44f26;
}

.stack-icon-2 {
  color: #1572b6;
}

.stack-icon-3 {
  color: #f5de19;
}

.stack-icon-4 {
  color: #61dafb;
}

@media (min-width: 800px) {
  .tech-stack-container {
    margin-top: 1em;
    display: flex;
    align-items: center;
    gap: 2em;
  }

  #hero {
    padding: 7em;
  }

  .heading-primary {
    font-size: 3rem;
  }

  .sub-heading {
    font-size: 1.1rem;
    line-height: 1.4;
    font-weight: 600;
    text-align: left;
  }

  .hero-img-container {
    grid-column: 2;
  }

  .heading {
    font-size: 1.2rem;
  }

  .stack {
    font-size: 1.8rem;
  }

  .tech-stack {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    margin-left: 1em;
  }
}

@media (min-width: 1200px) {
  #hero {
    padding: 12em 7em 7em 7em;
  }

  .heading-primary {
    font-size: 3.9rem;
  }

  .heading {
    font-size: 1.4rem;
  }

  .intro {
    font-size: 1.2rem;
  }
}
