#hero {
  padding-top: 4em;
}

.img {
  width: 100%;
}

.heading-primary {
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.651);
  text-align: center;
}

.sub-heading {
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
}

.hero-img-container {
  grid-row: 1;
}

.heading {
  font-size: 1.2rem;
  position: relative;
  color: rgba(0, 0, 0, 0.651);
}

.tech-stack-container {
  margin-top: 4em;
  display: flex;
  align-items: center;
  gap: 2em;
}

.vertical-line {
  position: absolute;
  left: 7rem;
  width: 0.2rem;
  height: 4%;
  background-image: linear-gradient(#b1c3e5, #e4c3d9);
}

.stack {
  font-size: 1.6rem;
}

.tech-stack {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.8em;
}

.stack-icon-1 {
  color: #e44f26;
}

.stack-icon-2 {
  color: #1572b6;
}

.stack-icon-3 {
  color: #f5de19;
}

.stack-icon-4 {
  color: #61dafb;
}

@media (min-width: 320px) {
  .vertical-line {
    position: absolute;
    left: 8rem;
    width: 0.2rem;
    height: 4%;
    background-image: linear-gradient(#b1c3e5, #e4c3d9);
  }
}

@media (min-width: 500px) {
  .vertical-line {
    position: absolute;
    left: 9rem;
    width: 0.2rem;
    height: 4%;
    background-image: linear-gradient(#b1c3e5, #e4c3d9);
  }
}

@media (min-width: 800px) {
  .tech-stack-container {
    margin-top: 1em;
    display: flex;
    align-items: center;
    gap: 2em;
  }

  .vertical-line {
    position: absolute;
    left: 18rem;
    width: 0.2rem;
    height: 5%;
    background-image: linear-gradient(#b1c3e5, #e4c3d9);
  }
  #hero {
    padding: 5em 8em;
  }

  .heading-primary {
    font-size: 2.4rem;
    text-align: left;
  }

  .sub-heading {
    font-size: 1.1rem;
    line-height: 1.4;
    font-weight: 600;
    text-align: left;
  }

  .hero-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
  }

  /* .info-container {
    grid-column: 1;
  }

  .hero-img-container {
    grid-column: 2;
  } */

  .hero-img-container {
    grid-column: 2;
  }

  .heading {
    font-size: 1.4rem;
  }

  .stack {
    font-size: 1.8rem;
  }

  .tech-stack {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    margin-left: 1em;
  }
}

@media (min-width: 1200px) {
  @media (min-width: 320px) {
    .vertical-line {
      position: absolute;
      left: 20rem;
      width: 0.2rem;
      height: 4%;
      background-image: linear-gradient(#b1c3e5, #e4c3d9);
    }
  }
}
