* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1400px;
}

.sub-heading-section {
  text-transform: uppercase;
  font-size: 0.9rem;
  line-height: 1.6;
  font-weight: 900;
  background: -webkit-linear-gradient(#95bbe9, #f1b8d2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1.4em;
}
